header {
    display: flex;
    justify-content: center;
}

header p {
    font-size: .7vw;
    margin: 0px 5vw 0px 5vw;
}

.intro {
    display: flex;
    margin-top: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro h1 {
    font-size: 3vw;
}

.intro h2 {
    font-size: 1vw;
}

main {
    margin: 1vh 0px 0px 1.5vw;
}

main h1 {
    font-size: 1vw;
}

main h3 {
    margin: 20px 0px 0px 30px;
    font-size: .8vw;
}

main p {
    margin: 10px 0px 0px 70px;
    font-size: .75vw;
}