/*nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
}*/

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  background-color: none;
  height: 0px;
  opacity: 0;
  animation: nav-fadeIn 300ms forwards;
  animation-delay: 200ms;
  width: 100%;
  z-index: 1;
  transition: background-color 500ms;
}

#nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-items {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 0;
  height: 50px;
  width: 10%;
  margin: 10px;
}

#nav-items img {
  height: 30px;
}

#nav-items img:hover {
  animation: items-fadeIn 300ms forwards;
}

/*.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 30px;
  border-radius: 20px;
  color: rgb(68, 68, 68);
  background-color: rgba(96, 118, 128, 0.1);
  text-decoration: none;
  margin: 10px;
  font-family: "Roboto", sans-serif;
}*/

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 30px;
  border-radius: 20px;
  color: rgb(68, 68, 68);
  font-weight: 400;
  text-decoration: none;
  margin: 10px;
  font-family: "Roboto", sans-serif;
}

.nav-inactive {
  background-color: #ffdbcc;
}

.nav-inactive:hover {
  animation: inactive-fadeIn 300ms forwards;
}

.nav-active {
  color: white;
  text-decoration: none;
  font-weight: 600;
  background: rgba(47, 80, 97, 1);
}

.nav-active:hover {
  animation: active-fadeIn 300ms forwards;
}

/* start of hover animations */
@keyframes inactive-fadeIn {
  from {
    background-color: #ffdbcc;
  }
  to {
    background-color: #e9c4b4;
  }
}

@keyframes active-fadeIn {
  from {
    background: rgba(47, 80, 97, 1);
  }
  to {
    background: rgb(25, 42, 51);
  }
}

@keyframes items-fadeIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes nav-fadeIn {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 50px;
  }
}